.App {
    text-align: center;
    height: 95vh;
    min-width: 900px;
    font-size: calc(10px + 1vmin);
    color: #000000;
}

body {
    margin: 1;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #eeeeee;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}